server {
    listen 80;
    client_max_body_size 100M;
    location /status {
        stub_status on;
        access_log off;
    }
    location / {
        root /usr/share/nginx/html/;
        index index.html;
        try_files $uri $uri/ /index.html;
    }
}
